.currencyContainer {
    
}

.currencyText {
    font-size: 0.7em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.bodyTextMd {
    font-size: 1.25em;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.navlinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinkText {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

