.columnContainerSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

@media(min-width: 1024px) {
    .columnContainerSpaceBetween {
        flex-direction: row;
    }
}